In [1]:
import pandas as pd
import string
import pickle

In [2]:
words = pd.read_csv('../data/sgb-words.txt', header=None, names=['word'], index_col='word').sort_values('word')

In [3]:
words.head()

Empty DataFrame
Columns: []
Index: [aargh, abaca, abaci, aback, abaft]

In [4]:
for position in range(1, 6):
    letters = words.index.str[position - 1]
    words[position] = letters
    
words.head()

       1  2  3  4  5
word
aargh  a  a  r  g  h
abaca  a  b  a  c  a
abaci  a  b  a  c  i
aback  a  b  a  c  k
abaft  a  b  a  f  t

In [5]:
for letter in string.ascii_lowercase:
    words[letter] = 0
    
words.head()

       1  2  3  4  5  a  b  c  d  e  ...  q  r  s  t  u  v  w  x  y  z
word                                 ...
aargh  a  a  r  g  h  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
abaca  a  b  a  c  a  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
abaci  a  b  a  c  i  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
aback  a  b  a  c  k  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
abaft  a  b  a  f  t  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0

[5 rows x 31 columns]

In [6]:
for position in range(1, 6):
    for letter in string.ascii_lowercase:
        words[letter] += words[position] == letter
        
words.head()

       1  2  3  4  5  a  b  c  d  e  ...  q  r  s  t  u  v  w  x  y  z
word                                 ...
aargh  a  a  r  g  h  2  0  0  0  0  ...  0  1  0  0  0  0  0  0  0  0
abaca  a  b  a  c  a  3  1  1  0  0  ...  0  0  0  0  0  0  0  0  0  0
abaci  a  b  a  c  i  2  1  1  0  0  ...  0  0  0  0  0  0  0  0  0  0
aback  a  b  a  c  k  2  1  1  0  0  ...  0  0  0  0  0  0  0  0  0  0
abaft  a  b  a  f  t  2  1  0  0  0  ...  0  0  0  1  0  0  0  0  0  0

[5 rows x 31 columns]

In [7]:
words = pd.concat([words, pd.get_dummies(words[[1, 2, 3, 4, 5]], prefix_sep='')], axis=1)
words.head()

,1,2,3,4,5,a,b,c,d,e,...,5o,5p,5r,5s,5t,5u,5w,5x,5y,5z
word,,,,,,,,,,,,,,,,,,,,,
aargh,a,a,r,g,h,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abaca,a,b,a,c,a,3,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
abaci,a,b,a,c,i,2,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
aback,a,b,a,c,k,2,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
abaft,a,b,a,f,t,2,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [8]:
words['5j'] = 0
words['4q'] = 0
words['5q'] = 0
words['5v'] = 0

In [9]:
# The letter dictionary measures the frequency at which each letter appears in the entire set of 5 letter words.

total_letters = words.shape[0] * 5

letter_dict = {}
for letter in string.ascii_lowercase:
    letter_dict[letter] = words[letter].sum() / total_letters * 100

sorted(letter_dict.items(), key=lambda x: x[1], reverse=True)

[('s', 10.536737884314746),
 ('e', 10.453361125586243),
 ('a', 8.157026228938683),
 ('o', 6.652770540211916),
 ('r', 6.6354003821434775),
 ('i', 5.530658328990794),
 ('l', 5.509814139308668),
 ('t', 5.50634010769498),
 ('n', 4.464130623588675),
 ('d', 4.102831335765156),
 ('u', 3.783220427305888),
 ('c', 3.3489664755949278),
 ('p', 3.3177001910717387),
 ('y', 3.077992009727289),
 ('m', 2.928608650338718),
 ('h', 2.8278617335417753),
 ('b', 2.4839326037866942),
 ('g', 2.3588674656939377),
 ('k', 2.07052284175786),
 ('f', 1.948931735278791),
 ('w', 1.7543859649122806),
 ('v', 1.1047420531526837),
 ('x', 0.4828903943025881),
 ('z', 0.46899426784783743),
 ('j', 0.30918881361820394),
 ('q', 0.18412367552544728)]

In [10]:
# The position dictionary measures the frequency each letter appears in each individual letter position
# For example, the value for '5s' will be the frequency that the letter s appears in the 5th position.

total_words = words.shape[0]

position_dict = {}
for position in range(1, 6):
    for letter in string.ascii_lowercase:
        key = f'{position}{letter}'
        position_dict[key] = words[key].sum() / total_words * 20
        
sorted(position_dict.items(), key=lambda x: x[1], reverse=True)

[('5s', 6.128191766545076),
 ('4e', 4.266110821608477),
 ('2a', 3.230849400729547),
 ('2o', 3.1648428000694806),
 ('1s', 2.5151988883098837),
 ('2i', 2.338023276011812),
 ('5y', 2.31023102310231),
 ('2e', 2.2928608650338718),
 ('3a', 2.1017891262810493),
 ('5e', 2.0670488101441724),
 ('2u', 1.8551328817092236),
 ('3i', 1.7926003126628454),
 ('3o', 1.6814313010248394),
 ('3r', 1.6501650165016502),
 ('2r', 1.5841584158415842),
 ('4t', 1.552892131318395),
 ('1c', 1.5285739100225813),
 ('1b', 1.5007816571130796),
 ('5d', 1.497307625499392),
 ('3n', 1.4243529616119508),
 ('5r', 1.3930866770887615),
 ('3e', 1.3791905506340107),
 ('3l', 1.3479242661108215),
 ('1p', 1.3409762028834462),
 ('4n', 1.3409762028834462),
 ('1t', 1.3062358867465693),
 ('4l', 1.2680215389960048),
 ('2l', 1.2506513809275666),
 ('5t', 1.2506513809275666),
 ('4a', 1.1776967170401251),
 ('1f', 1.1047420531526837),
 ('3u', 1.0873718950842453),
 ('1d', 1.0804238318568697),
 ('4r', 1.0769498002431823),
 ('1m', 1.03526142087893),
 ('1a', 1.0283133576515546),
 ('4i', 0.9866249782873024),
 ('3t', 0.9727288518325516),
 ('1g', 0.969254820218864),
 ('1l', 0.9414625673093625),
 ('2h', 0.9414625673093625),
 ('1r', 0.9310404724682995),
 ('4o', 0.9101962827861733),
 ('4s', 0.8928261247177349),
 ('3s', 0.8615598401945458),
 ('4k', 0.8441896821261073),
 ('1h', 0.8302935556713565),
 ('1w', 0.7920792079207921),
 ('4d', 0.7573388917839152),
 ('4c', 0.7295466388744137),
 ('3m', 0.7260726072607261),
 ('5n', 0.7052284175786),
 ('5l', 0.7017543859649122),
 ('4p', 0.6809101962827862),
 ('5h', 0.6670140698280353),
 ('4m', 0.6531179433732847),
 ('3c', 0.639221816918534),
 ('3d', 0.6183776272364079),
 ('5a', 0.6183776272364079),
 ('4g', 0.6114295640090325),
 ('3p', 0.5871113427132186),
 ('2n', 0.583637311099531),
 ('4u', 0.5350008685079034),
 ('5o', 0.5211047420531527),
 ('5k', 0.49678652075733887),
 ('3g', 0.4828903943025881),
 ('1e', 0.44815007816571134),
 ('3b', 0.44467604655202364),
 ('2t', 0.42383185686989755),
 ('3v', 0.42035782525620985),
 ('1n', 0.4099357304151468),
 ('2p', 0.39256557234670836),
 ('1v', 0.3786694458919576),
 ('1o', 0.3751954142782699),
 ('4f', 0.3474031613687684),
 ('4b', 0.3439291297550807),
 ('3w', 0.3404550981413931),
 ('1k', 0.31613687684557934),
 ('5p', 0.31613687684557934),
 ('3k', 0.31266284523189164),
 ('3f', 0.30224075039082854),
 ('2c', 0.28487059232239015),
 ('2w', 0.28139656070870245),
 ('5m', 0.2675004342539517),
 ('1u', 0.26055237102657636),
 ('1i', 0.25707833941288866),
 ('1j', 0.25360430779920096),
 ('4h', 0.25360430779920096),
 ('2m', 0.2466562445718256),
 ('4w', 0.2431822129581379),
 ('3y', 0.23623414973076254),
 ('3x', 0.23276011811707487),
 ('2y', 0.22581205488969947),
 ('4v', 0.21191592843494877),
 ('5g', 0.21191592843494877),
 ('3z', 0.18064964391175958),
 ('5c', 0.16675351745700884),
 ('1y', 0.16327948584332116),
 ('5i', 0.15633142261594582),
 ('5f', 0.15285739100225812),
 ('2d', 0.14938335938857042),
 ('4y', 0.14243529616119507),
 ('4z', 0.14243529616119507),
 ('2s', 0.1389612645475074),
 ('1q', 0.1354872329338197),
 ('3h', 0.1354872329338197),
 ('2x', 0.11464304325169358),
 ('2b', 0.11116901163800591),
 ('5x', 0.10422094841063054),
 ('2k', 0.10074691679694285),
 ('5w', 0.09727288518325516),
 ('2v', 0.09379885356956748),
 ('1z', 0.08337675872850442),
 ('2g', 0.08337675872850442),
 ('5b', 0.08337675872850442),
 ('5u', 0.045162410977939896),
 ('2f', 0.04168837936425221),
 ('5z', 0.04168837936425221),
 ('2q', 0.03474031613687685),
 ('3j', 0.027792252909501478),
 ('2z', 0.020844189682126105),
 ('4x', 0.017370158068438425),
 ('1x', 0.013896126454750739),
 ('2j', 0.013896126454750739),
 ('3q', 0.013896126454750739),
 ('4j', 0.013896126454750739),
 ('4q', 0.0),
 ('5j', 0.0),
 ('5q', 0.0),
 ('5v', 0.0)]

In [11]:
words['letter_score'] = 0

for letter in string.ascii_lowercase:
    words['letter_score'] += words[letter].astype('bool') * letter_dict[letter]
    
words['letter_score'].describe()

count    5757.000000
mean       26.988356
std         5.783548
min         8.754560
25%        23.147473
50%        27.153031
75%        30.984888
max        42.435296
Name: letter_score, dtype: float64

In [12]:
words['position_score'] = 0

for position in range(1, 6):
    for letter in string.ascii_lowercase:
        column = f'{position}{letter}'
        words['position_score'] += words[column].astype('bool') * position_dict[column]
        
words['position_score'].describe()

count    5757.000000
mean        8.882987
std         3.016268
min         1.851659
25%         6.465173
50%         8.348098
75%        11.238492
max        17.724509
Name: position_score, dtype: float64

In [13]:
words['tiebreaker'] = words['letter_score'] + words['position_score']

In [14]:
words['valid'] = True
words.head()

,1,2,3,4,5,a,b,c,d,e,...,5y,5z,5j,4q,5q,5v,letter_score,position_score,tiebreaker,valid
word,,,,,,,,,,,,,,,,,,,,,
aargh,a,a,r,g,h,2,0,0,0,0,...,0,0,0,0,0,0,19.979156,7.187771,27.166927,True
abaca,a,b,a,c,a,3,1,1,0,0,...,0,0,0,0,0,0,13.989925,4.589196,18.579121,True
abaci,a,b,a,c,i,2,1,1,0,0,...,0,0,0,0,0,0,19.520584,4.127150,23.647733,True
aback,a,b,a,c,k,2,1,1,0,0,...,0,0,0,0,0,0,16.060448,4.467605,20.528053,True
abaft,a,b,a,f,t,2,1,0,0,0,...,0,0,0,0,0,0,18.096231,4.839326,22.935557,True

In [15]:
with open('../data/letter_dict.pkl', 'wb') as file:
    pickle.dump(letter_dict, file)

In [16]:
with open('../data/position_dict.pkl', 'wb') as file:
    pickle.dump(position_dict, file)

In [17]:
words.to_pickle('../data/words.pkl')